<%= form_for(@service, html: {role: "form"}) do |f| %>
  <div class="box-body">
    <%= error_messages @service %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :service_type_id %>
          <%= f.select :service_type_id,
            ServiceType.all.collect{|s| [s.name, s.id, { 'title' => s.definition }]}.sort,
            {include_blank: true},
            class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :start_date %>
          <div>
            <%= f.date_select :start_date, { order: [:month, :day, :year]}, { class: "form-control", style: "display: inline-block; width: 30%;" } %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :end_date %><br/>
          <%= f.date_select :end_date, { order: [:month, :day, :year]}, { class: "form-control", style: "display: inline-block; width: 30%;" } %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.cktext_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-primary pull-right">
      <%= t "general.submit" %>
    </button>
    <%= link_to services_path,
      class: "btn btn-danger pull-right",
      style: "margin-right: 1rem" do %>
      <i class="fa fa-times"> </i> <%= t "general.cancel" %>
    <% end %>
  </div>
<% end %>
