<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <%= fa_icon "cutlery" %>
        <h1 class="box-title"><%= t("services.index.title") %></h1>
        <div class="box-tools">
          <%= link_to new_service_path, class: "btn btn-primary" do %>
            <%= fa_icon "plus" %>
            <%= t("services.index.add") %>
          <% end %>
        </div>
      </div>

      <div class="box-body">
        <table class="table table-condensed table-striped table-bordered" role="grid" id="services-dt">
          <thead>
            <tr>
              <th><%= Service.human_attribute_name(:name) %></th>
              <th><%= Service.human_attribute_name(:service_type) %></th>
              <th style="width: 10rem"><%= Service.human_attribute_name(:start_date) %></th>
              <th style="width: 10rem"><%= Service.human_attribute_name(:end_date) %></th>
              <th style="max-width: 2rem"></th>
            </tr>
          </thead>

          <tbody>
            <%= render(partial: "service", collection: @services) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
