<% title t('services.show.title') %>

<div class="page-header">
  <%= link_to services_path, class: 'btn btn-default' do %>
    <%= fa_icon 'caret-left', text: t('general.back') %>
  <% end %>
  <%= link_to edit_service_path(@service), class: 'btn btn-primary' do %>
    <%= fa_icon 'pencil', text: t('general.edit') %>
  <% end %>
  <%= link_to service_path(@service), method: :delete,
    data: {confirm: 'Are you sure?'}, class: "text-center btn btn-danger" do %>
    <%= fa_icon 'times', text: t('general.delete') %>
  <% end unless has_recipients(@service) %>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "cutlery" %>
    <h3 class="box-title"><%= t("services.show.details") %></h3>
  </div>
  <div class="box-body">
    <table class="table table-condensed table-hover table-listing">
      <tbody>
        <tr>
          <th>ID</td>
          <td><%= @service.id %></td>
        </tr>
        <tr>
          <th><%= Service.human_attribute_name(:name) %></th>
          <td><%= @service.name %></td>
        </tr>
        <tr>
          <th><%= Service.human_attribute_name(:service_type) %></th>
          <td>
            <%= @service.service_type.name unless @service.service_type.nil? %>
          </td>
        </tr>
        <tr>
          <th><%= Service.human_attribute_name(:start_date) %></th>
          <td><%= @service.start_date %></td>
        </tr>
        <tr>
          <th><%= Service.human_attribute_name(:end_date) %></th>
          <td><%= @service.end_date %></td>
        </tr>
        <tr>
          <th><%= Service.human_attribute_name(:description) %></th>
          <td><%= markdown @service.description %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if has_recipients(@service) %>
<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "cutlery" %>
    <h3 class="box-title"><%= t("services.show.children") %></h3>
  </div>
  <div class="box-body">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Participant</th>
          <th>Service Date</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% @service.service_instances.by_start_date.each do |s| %>
          <tr>
            <td><%= s.person.full_name %></td>
            <td><%= s.start_date %></td>
            <td><%= s.hours %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
