<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "info" %>
    <h3 class="box-title">
      <%= custom_section_show.title %>
    </h3>
  </div>
  <div class="box-body no-padding">
    <dl>
      <% custom_section_show.custom_fields.each do |custom_field| %>
        <dt><%= custom_field.name %></dt>
        <dd>
        <% if custom_field_value(custom_field, model_id).is_a? Array %>
          <%= custom_field_value(custom_field, model_id).join(', ') %>
        <% else %>
          <%= custom_field_value(custom_field, model_id) %>
        <% end %>
        <%= custom_field_other(custom_field, model_id) %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
