<%= form_for @custom_field do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :field_type %>
    <%= f.select :field_type, CustomFieldGroup::FIELD_TYPES_OPTIONS, {}, id: "child_field_type", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :selections %> <i>(One line per option.)</i>
    <%= f.text_area :selections, rows: 5, class: "form-control" %>
  </div>

  <%= f.hidden_field :model_type %>

  <div class="form-group">
    <button type="submit" class="btn btn-primary"><%= t("general.submit") %></button>
  </div>
<% end %>
