<div class="page-header">
  <h1><%= t("custom_fields.new", model: @model_type.constantize.model_name.human) %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= t("custom_fields.preview") %></div>
  <div class="panel-body">
    <form>
      <% @custom_fields.each do |custom_field| %>
        <div id="pre-field-<%= custom_field.id %>">
          <div class="row">
            <div class="col-md-8">
              <%= render partial: 'custom_field', locals: { custom_field: custom_field, options: {fill: false, disabled: true}} %>
            </div>
            <div class="col-md-4">
              <%= link_to edit_project_custom_field_path(project_id: custom_field.project_id, id: custom_field.id, type: @model_type),
                remote: true, class: "btn btn-default delete-custom-field" do
               %>
                <%= fa_icon "pencil" %> <%= t("general.edit") %>
              <% end %>

              <%= link_to project_custom_field_path(project_id: custom_field.project_id, id: custom_field.id, type: @model_type),
                method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default delete-custom-field" do
               %>
                <%= fa_icon "times" %> <%= t("general.delete") %>
              <% end %>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= t("custom_fields.add") %></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editFieldModal" tabindex="-1" role="dialog" aria-labelledby="editFieldModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editFieldModalLabel"><%= t("custom_fields.edit") %></h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>