<div class="page-header">
  <%= link_to indicator_path(@indicator), class: 'btn btn-default' do %>
    <%= fa_icon "caret-left" %> Back to Indicator
  <% end %>
  <h1><%= t("targets.edit.title") %> - <%= @indicator.indicator %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form method="post" action="<%= indicator_targets_path(@indicator) %>">
    <div class="box box-primary">

      <div class="box-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Period 1</th>
              <th>Period 2</th>
              <th>Period 3</th>
              <th>Period 4</th>
              <th>Period 5</th>
              <th>Period 6</th>
              <th>Period 7</th>
              <th>Period 8</th>
              <th>Period 9</th>
              <th>Period 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
              <td><input type="text" id="period1Target" name="period1Target"/></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right">
          <%= t "general.submit" %>
        </button>
        <%= link_to indicators_path,
          class: "btn btn-danger pull-right",
          style: "margin-right: 1rem" do %>
          <i class="fa fa-times"> </i> <%= t "general.cancel" %>
        <% end %>
      </div>

    </div>
  </form>
  </div>
</div>
