<tr>
<td><%= link_to child.id, project_child_path(@project, child) %></td>
<td><%= child.fname %></td>
<td><%= child.lname %></td>
<td><%= child.gender_name %></td>
<td><%= child.dob %></td>
</tr>
