<tr id='<%= "child-#{child.id}" %>'>
<td><%= link_to child.id, child_path(child) %></td>
<td><%= child.fname %></td>
<td><%= child.lname %></td>
<td><%= child.gender_name %></td>
<td><%= child.age %></td>
<td><%= child.intake_date %></td>
<td><%= child.code %></td>
<td><%= child.current_education_status.present? ? child.current_education_status.name : "" %></td>
<td><%= child.current_work_status.present? ? child.current_work_status.name : "" %></td>
</tr>
