<tr>
<td><%= link_to child.id, child_path(child) %></td>
<td><%= child.fname %></td>
<td><%= child.lname %></td>
<td><%= child.gender_name %></td>
<td><%= child.dob %></td>
<td><%= child.intake_date %></td>
<td><%= child.code %></td>
</tr>
