<tr id='<%= "child-#{child.id}" %>'>
<td><%= link_to child.id, child_path(child) %></td>
<td><%= child.fname %></td>
<td><%= child.lname %></td>
<td><%= child.gender_name %></td>
<td><%= child.dob %></td>
<td><%= child.intake_date %></td>
<td><%= child.code %></td>
<td class="child-ed-status"><%= edit_status_for child, :edu, child.current_education_status %></td>
<td class="child-wk-status"><%= edit_status_for child, :work, child.current_work_status %></td>
</tr>
