<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(@child, html: { role: "form" }) do |f| %>
      <% if @child.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h4>

          <ul>
          <% @child.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :fname %>
        <%= f.text_field :fname, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :lname %>
        <%= f.text_field :lname, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :mname %>
        <%= f.text_field :mname, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :sex %>
        <div class="checkbox">
          <% Child::SEX_OPTIONS.each do |sex_option| %>
            <label class="radio-inline">
              <%= f.radio_button :sex, sex_option[1], class: "square-red" %> <%= t(sex_option[0]) %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :dob %>
        <div class="selection">
          <%= f.date_select :dob, {start_year: Date.today.year - 30, end_year: Date.today.year}, {class: "form-control select-inline"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :country %>
        <%= f.country_select :country, {}, {class: "form-control"} %>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <% end %>
  </div>
</div>
