<div class="modal fade" id="household-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t("households.new.title") %></h4>
      </div>
      <%= form_for([@project, Household.new], remote: true, html: { role: "form" }) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :state %>
            <%= f.text_field :state, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :country %>
            <%= f.country_select :country, {}, {class: "form-control"} %>
          </div>

          <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel") %></button>
          <button type="submit" class="btn btn-primary"><%= t("general.submit") %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>