<% if status.work_status.present? && status.education_status.present? %>
<tr>
	<td><%= status.work_status.present? ? status.work_status.name : "" %></td>
	<td><%= status.education_status.present? ? status.education_status.name : "" %></td>
	<td><%= format_date_range(status) %></td>
	<td>
		<% if status.note.present? %>
			<%= content_tag(:a,
				{ role:"button", class: "status-note", title: ChildStatus.human_attribute_name(:note),
					data: { toggle:"popover", content: status.note}
				}) do %>
				<%= fa_icon "file-o" %>
			<% end %>
		<% end %>
	</td>
</tr>
<% end %>
