<%= f.hidden_field :project_id %>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label :start_date %> (yyy/mm/dd)
    <div class="input-group date">
      <%= f.text_field :start_date, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>

  <div class="col-md-6 form-group">
    <%= f.label :end_date %> (yyy/mm/dd)
    <div class="input-group date">
      <%= f.text_field :end_date, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :work_status_id %>
  <%= f.select :work_status_id,
    options_from_collection_for_select(WorkStatus.all, 'id', 'name'),
    {include_blank: true}, {class: "form-control"}
  %>
</div>

<div class="form-group">
  <%= f.label :education_status_id %>
  <%= f.select :education_status_id,
    options_from_collection_for_select(EducationStatus.all, 'id', 'name'),
    {include_blank: true}, {class: "form-control"}
  %>
</div>

<div class="form-group">
  <%= f.label :note %>
  <%= f.text_area :note, class: "form-control", rows: "5" %>
</div>
