<div class="page-header">
  <%= link_to new_project_child_path(@project), class: 'btn btn-primary' do %>
    <%= fa_icon "plus" %>
    <%= t("children.index.add") %>
  <% end %>
  <h1><%= t("children.index.title") %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t("children.index.filter") %>
  </div>
  <div class="panel-body">
    <%= render "search" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-condensed table-striped" id="child-data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th><%= Child.human_attribute_name(:fname) %></th>
          <th><%= Child.human_attribute_name(:lname) %></th>
          <th><%= Child.human_attribute_name(:sex) %></th>
          <th><%= Child.human_attribute_name(:dob) %></th>
          <th><%= Child.human_attribute_name(:updated_at) %></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render(partial: "child", collection: @children) %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @children %>
