<div class="page-header">
  <%= link_to children_path, class: 'btn btn-danger' do %>
  	<%= fa_icon "times" %> <%= t("general.cancel") %>
  <% end %>
  <h1><%= t("children.new.form_title") %></h1>
</div>

<div class="row">
	<div class="col-md-12">
		<%= render 'form' %>
	</div>
</div>

