<div class="page-header">
  <%= link_to project_children_path(@project), class: 'btn btn-default' do %>
    <%= fa_icon "caret-left" %>
    <%= t("general.back") %>
  <% end %>
  <%= link_to edit_project_child_path(@project, @child), class: 'btn btn-primary' do %>
    <%= fa_icon "pencil" %>
    <%= t("general.edit") %>
  <% end %>
  <h1><%= t("children.show.title") %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t("children.show.personal_information") %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= preview_avatar(@child, size: :full, class: "image-thumbnail") %>
      </div>
      <div class="col-md-8">
        <table class="table table-bordered table-hover table-listing">
          <tbody>
            <tr>
              <td>ID</td><td><%= @child.id %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:fname) %></td><td><%= @child.fname %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:lname) %></td><td><%= @child.lname %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:mname) %></td><td><%= @child.mname %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:sex) %></td><td><%= @child.gender_name %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:dob) %></td><td><%= @child.dob %></td>
            </tr>
            <tr><td colspan="2"></td></tr>
            <tr>
              <td><%= Child.human_attribute_name(:address) %></td><td><%= @child.address %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:city) %></td><td><%= @child.city %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:state) %></td><td><%= @child.state %></td>
            </tr>
            <tr>
              <td><%= Child.human_attribute_name(:country) %></td><td><%= @child.country_name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t("children.show.statuses") %>
  </div>
  <div class="panel-body">
    <%= render partial: "status", collection: @child_statuses %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t("children.show.status_form_title") %>
  </div>
  <div class="panel-body">
    <%= form_for([@child, ChildStatus.new(project_id: @project.id)], html: { role: "form" }) do |f| %>
      <%= render partial: 'status_form', locals: {f: f} %>
      <button type="submit" class="btn btn-primary"><%= t("general.submit") %></button>
    <% end %>
  </div>
</div>