<div class="page-header">
  <%= link_to children_path, class: 'btn btn-default' do %>
    <%= fa_icon "caret-left" %>
    <%= t("general.back") %>
  <% end %>
  <%= link_to edit_child_path(@child), class: 'btn btn-primary' do %>
    <%= fa_icon "pencil" %>
    <%= t("general.edit") %>
  <% end %>
  <%= link_to child_timelines_path(@child), class: 'btn btn-primary' do %>
    <%= fa_icon "calendar" %>
    <%= t("children.show.timeline") %>
  <% end %>
  <h1><%= @child.full_name %></h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "info" %>
        <h3 class="box-title">
          <%= t("children.show.personal_information") %>
        </h3>
      </div>
      <div class="box-body no-padding">
        <table class="table table-bordered table-condensed table-striped table-listing">
          <tbody>
            <tr>
              <th><%= Child.human_attribute_name(:id) %></th>
              <td><%= @child.id %></td>
            </tr>
            <tr>
              <th><%= Household.human_attribute_name(:name) %></th>
              <td><%= @child.household.present? ? @child.household.name : "" %></td>
            </tr>
            <tr>
              <th><%= Child.human_attribute_name(:intake_date) %></th>
              <td><%= @child.intake_date %></td>
            </tr>
            <tr>
              <th><%= Child.human_attribute_name(:first_name) %></th>
              <td><%= @child.first_name %></td>
            </tr>
            <tr>
              <th><%= Child.human_attribute_name(:last_name) %></th>
              <td><%= @child.last_name %></td>
            </tr>
            <tr>
              <th><%= Child.human_attribute_name(:middle_name) %></th>
              <td><%= @child.middle_name %></td>
            </tr>
            <tr>
              <th><%= Child.human_attribute_name(:sex) %></th>
              <td><%= @child.gender_name %></td>
            </tr>
            <tr>
              <th><%= Child.human_attribute_name(:dob) %></th>
              <td><%= @child.dob %></td>
            </tr>
            <tr>
              <th><%= Child.human_attribute_name(:relationship) %></th>
              <td><%= @child.relationship_name %></td>
            </tr>
            <% @custom_fields.sort_by { |f| f.sort_order }.each do |custom_field| %>
              <tr>
                <th><%= custom_field.name %></th>
                <td>
                  <% if custom_field.field_type == 'rank_list' %>
                    <%= rank_list_display(custom_field, @child.id) %>
                  <% else %>
                    <%= custom_field_value(custom_field, @child.id) %>
                  <% end %>
                </td>
              </tr>
            <% end unless @custom_fields.nil? %>
          </tbody>
        </table>
      </div>
    </div>

    <% if show_statuses_for @child %>
    <div class="box box-primary">
      <div class="box-header with-border">
        <%= t("children.show.statuses") %>
      </div>
      <div class="box-body">
        <table class="table">
          <thead>
            <tr>
              <th>Work Status</th>
              <th>Education Status</th>
              <th>Date Recorded</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "status", collection: @child_statuses %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>

    <div class="box box-primary">
      <div class="box-header with-border">
        <%= t("children.show.status_form_title") %>
      </div>
      <div class="box-body">
        <%= form_for([@child, ChildStatus.new], html: { role: "form" }) do |f| %>
        <%= render partial: 'status_form', locals: {f: f} %>
        <button type="submit" class="btn btn-primary"><%= t("general.submit") %></button>
        <% end %>
      </div>
    </div>

    <% if show_services_for @child %>
    <div class="box box-primary">
      <div class="box-header with-border">
        <%= t("children.show.services") %>
      </div>
      <div class="box-body">
        <table class="table">
          <thead>
            <tr>
              <th>Service</th>
              <th>Date Received</th>
              <th>Hours</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "service", collection: @service_instances.order(:start_date) %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>

    <div class="box box-primary">
      <div class="box-header with-border">
        <%= t("children.show.service_form_title") %>
      </div>
      <div class="box-body">
        <%= form_for([@child, ServiceInstance.new], html: { role: "form" }) do |f| %>
        <%= render partial: 'service_form', locals: {f: f} %>
        <button type="submit" class="btn btn-primary"><%= t("general.submit") %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
