<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <%= fa_icon "language" %>
        <h1 class="box-title"><%= t("translations.index.title") %>
          for
          <%= @locale %></h1>
        <div class="box-tools">
          <%= link_to new_locale_translation_url(@locale), class: "btn btn-primary" do %>
          <%= fa_icon "plus" %>
          <%= t("translation.index.add") %>
          <% end %>
        </div>
      </div>

      <div class="box-body">
        <br/>
        <table class="table table-bordered table-striped" id="translationsTable">
          <thead>
            <tr>
              <th>Translation Key</th>
              <th>Translation Value</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @translations.each do |translation| %>
              <tr id="<%= translation.key %>">
                <td><%= translation.key %></td>
                <td><%= translation.value %></td>
                <td>
                  <%= link_to t("general.edit"), edit_locale_translation_url(@locale, translation) %>
                  <%= link_to t("general.delete"), locale_translation_url(@locale, translation), method: :delete, data: { confirm: t("general.confirm") } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
