<div class="page-header">
  <%= link_to new_service_type_path, class: 'btn btn-primary pull-right' do %>
    <%= fa_icon "plus" %>
    <%= t("service_types.index.add") %>
  <% end %>
  <h1><%= t("service_types.index.title") %></h1>
</div>

<div class="box">
  <div class="box-body">
    <table id='serviceTypeTable' class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= ServiceType.human_attribute_name(:name) %></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @service_types) do |service_type| %>
          <td><%= link_to service_type.name, edit_service_type_path(service_type) %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
