<%= form_for([@adult.household, @adult], html: { role: "form" }) do |f| %>
  <%= error_messages(@adult) %>

  <div class="box box-primary">
    <div class="box-header with-border">
      <%= fa_icon "info" %>
      <h3 class="box-title">
        <%= t "adults.edit.details_title" %>
      </h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.label :intake_date %>
            <div class="row date-select">
              <%= f.date_select :intake_date, { order: [:month, :day, :year]},
                {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :middle_name %>
            <%= f.text_field :middle_name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :sex %>
            <div class="checkbox">
              <% Adult::SEX_OPTIONS.each do |sex_option| %>
              <label class="radio-inline">
                <%= f.radio_button :sex, sex_option[1], class: "square-red" %>
                <%= t(sex_option[0]) %>
              </label>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :dob %>
            <div class="row date-select">
              <%= f.date_select :dob, {order: [:month, :day, :year],
                start_year: Date.today.year - 99, end_year: Date.today.year,
                prompt: true},
                {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :relationship_id %>
            <%= f.collection_select :relationship_id, Relationship.all, :id, :with_code,
              {include_blank: true, prompt: true},
              {class: "form-control", data: {toggle: 'other'}} %>
          </div>
          <div class="form-group"
            <%= @adult.relationship.nil? || @adult.relationship.canonical_name != 'OTHER' ? 'hidden' : '' %>>
            <%= f.label :relationship_other %>
            <%= f.text_field :relationship_other, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.check_box :is_beneficiary, class: 'square-red' %>
            <%= f.label :is_beneficiary %>
          </div>
        </div>
      </div>
      <%= render partial: 'custom_fields/custom_field',
        collection: @section_1_custom_fields, locals: {model_id: @adult.id} %>
    </div>
  </div>

  <%= render partial: 'custom_sections/custom_section', collection: @sections,
    locals: {model_id: @adult.id} %>

  <% if params[:action] == "new" %>
    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "map-marker" %>
        <h3 class="box-title">
          <%= t "adults.new.baseline_title" %>
        </h3>
      </div>
      <div class="box-body">
        <%= f.fields_for :statuses do |ff| %>
          <%= render partial: 'status_form', locals: {f: ff} %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= link_to household_path(@adult.household), :class => 'btn btn-danger btn-block' do %>
      <i class="fa fa-times"></i>
      <%= t("general.cancel") %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary btn-block">
        <%= t("general.submit") %>
      </button>
    </div>
  </div>
<% end %>
