<div class="box box-primary">
  <div class="box-header">
    <%= fa_icon "people" %>
    <h1 class="box-title"><%= t("relationships.index.title") %></h1>
    <div class="box-tools">
      <%= link_to new_relationship_path, class: "btn btn-primary" do %>
        <%= fa_icon "plus" %>
        <%= t("relationships.index.add") %>
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <table id="service-types-data-table"
      class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th><%= Relationship.human_attribute_name(:code) %></th>
          <th><%= Relationship.human_attribute_name(:display_name) %></th>
        </tr>
      </thead>

      <tbody>
        <%= render(partial: "relationship", collection: @relationships) %>
      </tbody>
    </table>
  </div>
</div>
