<div class="page-header">
  <h1>Technical Progress Reports</h1>
</div>

<div class="box">
  <div class="box-body">
    <table id='technicalProgressReportsTable' class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= ReportingPeriod.human_attribute_name(:name) %></th>
          <th><%= ReportingStatus.human_attribute_name(:name) %></th>
          <th><%= TechnicalProgressReport.human_attribute_name(:date_submitted) %></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @technical_progress_reports) do |tpr| %>
          <td><%= link_to tpr.reporting_period.name, technical_progress_report_path(tpr) %></td>
          <td><%= tpr.reporting_status.name %></td>
          <td><%= tpr.date_submitted %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
