<% content_for :title, "Technical Progress Reports" %>

<div class="page-header">
  <%= link_to new_technical_progress_report_path, class: "btn btn-primary" do %>
    <%= fa_icon "plus" %>
    Start New TPR
  <% end %>
</div>

<% unless @technical_progress_reports.length == 0 %>
  <div class="box">
    <table id='technicalProgressReportsTable' class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= ReportingPeriod.model_name.human %></th>
          <th><%= ReportingStatus.model_name.human %></th>
          <th><%= TechnicalProgressReport.human_attribute_name(:date_submitted) %></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @technical_progress_reports) do |tpr| %>
          <td><%= link_to tpr.reporting_period.name, technical_progress_report_path(tpr) %></td>
          <td><%= tpr.reporting_status.name %></td>
          <td><%= tpr.date_submitted %></td>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
