<% content_for :title, "Technical Progress Report" %>

<div class="page-header">
  <%= link_to technical_progress_reports_path, class: "btn btn-primary" do %>
    <%= fa_icon "arrow-left" %>
    Back to Index
  <% end %>
  <%= link_to submit_technical_progress_report_path(@technical_progress_report), class: "btn btn-primary", method: "put" do %>
    <%= fa_icon "arrow-right" %>
    Submit
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Report Date:</strong>
      <%= @technical_progress_report.reporting_period.end_date.strftime("%B %Y") %>
    </p>
  </div>
  <div class="col-md-6">
    <p class="text-right">
      <strong>Status:</strong>
      <%= @technical_progress_report.reporting_status.name %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="form-label">1. Federal Agency and Organization Element to Which Report is Submitted</h3>
    <p class="form-body">USDOL/ILAB/OCFT</p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">2. Federal Grant Number</h3>
    <p class="form-body"><%= @project.cooperative_agreement_number %></p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">3. DUNS Number</h3>
    <p class="form-body"><%= @project.duns_number || "---" %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="form-label">4. Country and Project Name</h3>
    <p class="form-body"><%= @project.title %></p>
  </div>
</div>

<h3 class="form-label">5. Recipient Organization Contact Information</h3>
<div class="row">
  <div class="col-xs-6 col-unpadded">
    <h4 class="form-label">Headquarters</h4>
    <address class="form-body">
      <strong><%= @project.organization %></strong><br>
      <%= @project.headquarters_location.address_line1 %><br>
      <%= @project.headquarters_location.address_line2 %><br>
      <%= @project.headquarters_location.city %>,
      <%= @project.headquarters_location.state %>
      <%= @project.headquarters_location.zip %>
    </address>
  </div>
  <div class="col-xs-6 col-unpadded">
    <h4 class="form-label">Field</h4>
    <address class="form-body">
      <% @project.locations.where('location_type_id <> 1').each do |loc| %>
        <%= loc.address_line1 %><br>
        <%= loc.address_line2 %><br>
        <%= loc.city %>,
        <%= loc.state %>
        <%= loc.zip %><br>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="form-label">6. Project/ Grant Period</h3>
    <p class="form-body">
      <small>Start Date: (Month, Day, Year)</small>
      <br>
      <%= @project.start_date.strftime("%m/%d/%Y") %>
      <br>
      <small>End Date: (Month, Day, Year)</small>
      <br>
      <%= @project.end_date.strftime("%m/%d/%Y") %>
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">7. Reporting Period End Date(Month, Day, Year)</h3>
    <p class="form-body">
      <small>(Month, Day, Year)</small>
      <br>
      <%= @technical_progress_report.reporting_period.end_date.strftime("%m/%d/%Y") %>
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">
      <%= TechnicalProgressReport.human_attribute_name :is_final_report %>
    </h3>
    <p class="form-body">
      <span class="radio">
        <label>
          <%= radio_button_tag "is_final_report", 1,
            @technical_progress_report.is_final_report,
            {class: "icheck", disabled: true} %> Yes
        </label>
      </span>
      <span class="radio">
        <label>
          <%= radio_button_tag "is_final_report", 0,
            !@technical_progress_report.is_final_report,
            {class: "icheck", disabled: true} %> No
        </label>
      </span>
    </p>
    <h3 class="form-label">
      <%= TechnicalProgressReport.human_attribute_name :is_semi_annual %>
    </h3>
    <p class="form-body">
      <span class="radio">
        <label>
          <%= radio_button_tag "is_semi_annual", 1,
            @technical_progress_report.is_semi_annual,
            {class: "icheck", disabled: true} %> Yes
        </label>
      </span>
      <span class="radio">
        <label>
          <%= radio_button_tag "is_semi_annual", 0,
            !@technical_progress_report.is_semi_annual,
            {class: "icheck", disabled: true} %> No
        </label>
      </span>
    </p>
  </div>
</div>

<h3 class="form-label">10. Attachments</h3>
<p class="form-body">
<% ('a'..'h').each do |cb| %>
  <%= tpr_checkbox_helper @technical_progress_report, cb %>
<% end %>
</p>
