<% if @project.nil? %>
  <% form = @user %>
<% else %>
  <% form = [@project, @user] %>
<% end %>

<%= form_for(form, html: {role: "form"}) do |f| %>
  <%= error_messages(@user) %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <% if @project.nil? %>
          <div class="form-group">
            <label>Member of</label><br>
            <%= hidden_field_tag "user[project_ids][]", nil %>
            <% Project.all.each do |project| %>
              <%= check_box_tag "user[project_ids][]", project.id, @user.project_ids.include?(project.id), id: dom_id(project) %>
              <%= label_tag dom_id(project), project.name %><br>
            <% end %>
          </div>
          <% else %>
          <div class="form-group">
            <label>Roles</label><br>
            <%= hidden_field_tag "user[role_ids][]", nil %>
            <% Role.all.each do |role| %>
              <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids(@project).include?(role.id), id: dom_id(role) %>
              <%= label_tag dom_id(role), role.name %><br>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
      <%= link_to user_path(@user), :class => 'btn btn-danger btn-block' do %>
        <i class="fa fa-times"></i>
        <%= t("general.cancel") %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary btn-block"><%= t("general.submit") %></button>
    </div>
  </div>
<% end %>
