<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <%= fa_icon "user" %>
        <h1 class="box-title"><%= t "users.index.title" %></h1>
        <div class="box-tools">
          <%= link_to new_user_path, class: "btn btn-primary" do %>
            <%= fa_icon "plus" %>
            <%= t "users.index.add" %>
          <% end %>
        </div>
      </div>

      <div class="box-body">
        <table class="table table-bordered tabled-condensed table-striped" role="grid">
          <thead>
            <tr>
              <th><%= User.human_attribute_name "id" %></th>
              <th><%= User.human_attribute_name "name" %></th>
              <th><%= User.human_attribute_name "email" %></th>
              <th><%= t "general.delete" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "user", collection: @users.sort_by(&:id) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
