<dl>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <% if @project.nil? %>
  <dt>Projects</dt>
    <dd>
      <ul>
      <% @user.projects.each do |project| %>
        <li><%= project.name %>: <%= @user.project_roles(project).map(&:name).join(", ") %></li>
    <% end %>
    </ul>
  </dd>
  <% else %>
  <dt>Roles</dt>
  <dd>
    <ul>
    <% @user.project_roles(@project).each do |role| %>
      <li><%= role.name %></li>
    <% end %>
    </ul>
  </dd>
  <% end %>
</dl>
<div class="col-sm-4">
  <% if @project.nil? then path = edit_user_path(@user) else path = edit_project_user_path(@project, @user) end %>
  <%= link_to path, :class => 'btn btn-primary btn-block' do %>
    <%= t("general.edit") %>
  <% end %>
</div>
