<div class="row">
  <div class="col-md-4" id="home-heading">
    <div class="login-box">
      <div class="login-logo">
        <h1><%= t("login.banner") -%></h1>
        <h2><%= t("login.tagline") -%></h2>
      </div>
      <div class="login-box-body">
        <div class="panel-heading">
          <%= link_to root_path do %>
            <%= image_tag "145px_dol_seal.png", alt: t("general.logo_alt") %>
          <% end %>
        </div>
        <p class="login-box-msg">Change your password</p>
        <%= form_for(resource, as: resource_name,
                     url: password_path(resource_name),
                     html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "New password" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autofocus: true,
              autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off",
              class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Change my password", class: "btn btn-primary" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
