<div class="row">
  <div class="col-md-4" id="home-heading">
    <div class="login-box">
      <div class="login-logo">
        <h1><%= t("login.banner") -%></h1>
        <h2><%= t("login.tagline") -%></h2>
      </div>
      <div class="login-box-body">
        <div class="panel-heading">
          <%= link_to root_path do %>
            <%= image_tag "145px_dol_seal.png", alt: t("general.logo_alt") %>
          <% end %>
        </div>
        <p class="login-box-msg"><%= t("login.instruction") -%></p>
        <%= form_for(:user, url: session_path(:user)) do |f| %>
          <div class="form-group has-feedback">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("login.email") %>
            <i class="fa fa-envelope form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <%= f.password_field :password, autocomplete: "off", class: "form-control",
              placeholder: t("login.password") %>
            <i class="fa fa-lock form-control-feedback"></i>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %> <%= t("login.remember_me") %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-4">
              <%= f.submit t("general.submit"), class: "btn btn-primary btn-block btn-flat" %>
            </div>
          </div>
          <hr>
          <%= link_to t("login.forgot_password"), new_password_path(:user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
