<div class="row">
  <div class="col-md-4" id="home-heading">

  <div class="login-box">
    <div class="login-logo">
      <h1>Direct Beneficiary Monitoring System</h1>
      <h2>The more we connect, the better it gets.</h2>
    </div>
    <div class="login-box-body">
      <div class="panel-heading">
        <%= link_to root_path do %>
          <%= image_tag "145px_dol_seal.png" %>
        <% end %>
      </div>
      <p class="login-box-msg">Login with your email address and password</p>
      <%= form_for(:user, url: session_path(:user)) do |f| %>
        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("registrations.email") %>
          <i class="fa fa-envelope form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password, autocomplete: "off", class: "form-control",
            placeholder: t("registrations.password") %>
          <i class="fa fa-lock form-control-feedback"></i>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %> <%= t("sessions.remember_me") %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-4">
            <%= f.submit t("sessions.submit"), class: "btn btn-primary btn-block btn-flat" %>
          </div>
        </div>
        <hr>
        <%= link_to "Sign up", new_registration_path(:user) %><br />
        <%= link_to "Forgot your password?", new_password_path(:user) %><br />
      <% end %>
    </div>
  </div>
</div>
