<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "cutlery" %>
    <h1 class="box-title"><%= t("service_type_categories.index.title") %></h1>
    <div class="box-tools">
      <%= link_to new_service_type_category_path,
        class: "btn btn-primary btn-sm" do %>
        <%= fa_icon 'plus', text: t("service_type_categories.index.add") %>
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <table id="service-type-category-data-table"
      class="table table-condensed table-hover">
      <thead>
        <tr>
          <th><%= ServiceTypeCategory.human_attribute_name(:name) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: "service_type_category",
                   collection: @service_type_categories) %>
      </tbody>
    </table>
  </div>
</div>
