<%= form_for(industry, remote: true) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="detailModalLabel">
      <% if is_new %>
        <%= t("general.add") %>
      <% else %>
        <%= t("general.edit") %>
      <% end %>
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :code %>
      <%= f.text_field :code, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :display_name %>
      <%= f.text_field :display_name, class: "form-control" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline pull-left"
      data-dismiss="modal">
      <%= t("general.close") %>
    </button>
    <button type="submit" class="btn btn-outline">
      <%= t("general.save_changes") %>
    </button>
  </div>
<% end %>
