<%= form_for(@project, html: { role: "form" }) do |f| %>
  <%= error_messages(@project) %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cooperative_agreement_number %>
    <%= f.text_field :cooperative_agreement_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %>
    <div class="input-group date">
      <%= f.text_field :start_date, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date %>
    <div class="input-group date">
      <%= f.text_field :end_date, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :organization %>
    <%= f.text_field :organization, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :funding_amount %>
    <%= f.text_field :funding_amount, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :office_address %>
    <%= f.text_field :office_address, class: "form-control" %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t("regions.title") %>
    </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
      <button type="submit" class="btn btn-primary btn-block"><%= t("general.submit") %></button>
    </div>
  </div>
<% end %>
