<%= form_for(@project, html: { role: "form" }) do |f| %>
  <%= error_messages(@project) %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cop_num %>
    <%= f.text_field :cop_num, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %>
    <div class="input-group date">
      <%= f.text_field :start_date, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date %>
    <div class="input-group date">
      <%= f.text_field :end_date, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :org %>
    <%= f.text_field :org, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :proj_type %>
    <%= f.select :proj_type, ["CLEP", "IPEC"], {include_blank: true}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :funding %>
    <%= f.text_field :funding, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :office_address %>
    <%= f.text_field :office_address, class: "form-control" %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t("project_regions.title") %>
    </div>
    <div class="panel-body">
      <%= f.fields_for :project_regions do |builder| %>
        <%= render 'project_region_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields t("project_regions.add"), f, :project_regions, class: "add_fields btn btn-primary" %>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
      <button type="submit" class="btn btn-primary btn-block"><%= t("general.submit") %></button>
    </div>
  </div>
<% end %>
