<tr>
  <td><%= location.location_type.name %></td>
  <td><%= location.name %></td>
  <td><%= location.address_line1 %></td>
  <td><%= location.address_line2 %></td>
  <td><%= location.city %></td>
  <td><%= location.state %></td>
  <td><%= location.zip %></td>
  <td><%= location.country %></td>
  <td><%= fa_icon 'trash' %>
</tr>
