<tr>
  <td>
    <%= f.collection_select :location_type_id, LocationType.all, :id, :name,
             { include_blank: true, prompt: true }, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :name, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :address_line1, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :address_line2, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :city, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :state, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :zip, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :country, class: "form-control" %>
  </td>
  <td class="options-controls">
    <button type="submit" class="btn btn-primary options-control"><%= fa_icon :plus %></button>
    <a href="#" data-hide="location-fields" class="options-control">
      <%= fa_icon :times, class: 'text-danger' %>
    </a>
  </td>
<tr>
