<% provide(:title, @project.name + " Dashboard") %>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <%= info_box("Beneficiaries",
        number_with_delimiter(@total_children),
        @total_children_percentage,
        "#{number_to_percentage(@total_children_percentage, precision: 0)} " +
        "of #{number_with_delimiter(@total_children_target)} targeted " +
        "beneficiaries serviced", "child", "aqua") %>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <%= info_box("Households",
        number_with_delimiter(@total_households),
        @total_households_percentage,
      "#{number_to_percentage(@total_households_percentage, precision: 0)} " +
        "of #{number_with_delimiter(@total_households_target)} targeted " +
        "households serviced", "home", "green") %>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <%= info_box "Services", number_with_delimiter(@total_services), "", "",
        "cutlery", "red" %>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-yellow clickable" id="timeline">
      <span class="info-box-icon"><%= fa_icon "calendar" %></span>
      <div class="info-box-content">
        <span class="info-box-text">Timeline</span>
        <span class="info-box-number">
          <%= Date.today.strftime('%A, %B %d, %Y') %>
        </span>
        <%= progress_bar @project_complete_percentage %>
        <span class="progress-description" id="time-elapsed">
          <%= distance_of_time_in_words @project.start_date, Date.today %>
          into your project
        </span>
        <span class="progress-description hidden" id="time-remaining">
          <%= distance_of_time_in_words Date.today, @project.end_date %>
          remain in your project
        </span>
      </div>
    </div>
  </div>
</div>

<% # note the deep_dup for @chart_options. chartjs_ror deletes options from
   # the passed in object. This works around that. Might not be ideal. %>
<div class="row">
  <div class="col-md-6">
    <%= collapsible_box(
        raw("Beneficiaries Target vs Actual by Reporting Period " +
        "<small>(#{@project.start_date} – #{@project.end_date})</small>"),
        "primary") do %>
      <%= bar_chart @children_target_vs_actual, @bar_chart_options.deep_dup %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= collapsible_box(
        raw("Households Target vs Actual by Reporting Period " +
        "<small>(#{@project.start_date} – #{@project.end_date})</small>"),
        "primary") do %>
      <%= bar_chart @households_target_vs_actual, @bar_chart_options %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= collapsible_box("Beneficiaries by Age", "primary") do %>
      <%= doughnut_chart @children_by_age, @pie_chart_options.deep_dup %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= collapsible_box("Beneficiaries by Gender", "primary") do %>
      <%= pie_chart @children_by_gender, @pie_chart_options %>
    <% end %>
  </div>

  <div class="col-md-4">
    <div class="box box-danger">
      <%= collapsible_box_header "Newest Beneficiaries" do %>
        <span class="label label-danger">
          <%= @new_children.count %> New Members
        </span>
      <% end %>

      <div class="box-body no-padding">
        <ul class="users-list clearfix">
          <% @new_children.each do |child| %>
            <li>
              <%= preview_avatar child, {size: "small"} %>
              <%= link_to child.full_name, child, {class: "users-list-name"} %>
              <span class="users-list-date">
                <%= child.created_at.strftime("%Y-%m-%d") %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="box-footer text-center">
        <%= link_to "View all Beneficiaries", children_path %>
      </div>
    </div>
  </div>
</div>
