<div class="page-header">
 <%= link_to project_path, class: 'btn btn-default' do %>
    <%= fa_icon "caret-left" %>
    <%= t("general.back") %>
  <% end %>
  <h1><%= t("projects.edit.title") %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>
