<h1><%= @project.name %></h1>
<div class="divider"></div>
<div class="section">
  <h3 class="text-center">No Records Have Been Created</h3>
</div>

<div class="row section">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= link_to new_project_child_path(@project), class: 'btn btn-primary btn-lg btn-block' do %>
          <%= fa_icon "plus" %>
          <%= t("children.index.add") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row section">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= link_to new_project_household_path(@project), class: 'btn btn-primary btn-lg btn-block' do %>
          <%= fa_icon "plus" %>
          <%= t("households.index.add") %>
        <% end %>
      </div>
    </div>
  </div>
</div>