<% provide(:title, @project.name + " Dashboard") %>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-aqua">
      <span class="info-box-icon">
        <i class="fa fa-child"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Beneficiaries</span>
        <span class="info-box-number"><%= number_with_delimiter(@total_children, delimiter: ',') %></span>
        <%= progress_bar @total_children_percentage %>
        <span class="progress-description">
          <%= number_to_percentage(@total_children_percentage, precision: 0) %> of <%= number_with_delimiter(@total_children_target, delimiter: ',') %> targeted beneficiaries serviced
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-green">
      <span class="info-box-icon">
        <i class="fa fa-home"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Households</span>
        <span class="info-box-number"><%= number_with_delimiter(@total_households, delimiter: ',') %></span>
        <%= progress_bar @total_children_percentage %>
        <span class="progress-description">
          <%= number_to_percentage(@total_households_percentage, precision: 0) %> of <%= number_with_delimiter(@total_households_target) %> targeted households serviced
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red">
      <span class="info-box-icon">
        <i class="fa fa-cutlery"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Services</span>
        <span class="info-box-number"><%= number_with_delimiter(@total_services, delimiter: ',') %></span>

      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-yellow">
      <span class="info-box-icon">
        <i class="fa fa-calendar"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Timeline</span>
        <span class="info-box-number"><%= Date.today.strftime('%A, %B %d, %Y') %></span>
        <%= progress_bar @project_complete_percentage %>

        <span class="progress-description">
          <%= Date.today.mjd - @project.start_date.mjd %> days into your project
        </span>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Beneficiaries Target vs Actual by Reporting Period</h3> (12/28/2013 - 12/31/2016)

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="targetVsActualChart" style="height:230px"></canvas>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Households Target vs Actual by Reporting Period</h3> (12/28/2013 - 12/31/2016)

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="householdsTargetVsActualChart" style="height:230px"></canvas>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
