<div class="page-header">
  <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
  <%= fa_icon "pencil" %>
  <%= t("general.edit") %>
  <% end %>
  <h1>Project Record</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "fort-awesome" %>
        <h3 class="box-title"><%= t("projects.show.details") %></h3>
      </div>
      <div class="box-body">
        <table class="table table-hover table-listing">
          <tbody>
            <tr>
              <td><%= Project.human_attribute_name(:id) %></td>
              <td><%= @project.id %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:name) %></td>
              <td><%= @project.name %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:title) %></td>
              <td><%= @project.title %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:cooperative_agreement_number) %></td>
              <td><%= @project.cooperative_agreement_number %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:start_date) %></td>
              <td><%= @project.start_date %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:end_date) %></td>
              <td><%= @project.end_date %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:organization) %></td>
              <td><%= @project.organization %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:funding_amount) %></td>
              <td><%= number_with_precision(@project.funding_amount, precision: 0, delimiter: ',') %></td>
            </tr>
            <tr>
              <td><%= Project.human_attribute_name(:region) %></td>
              <td><%= @project.region.name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "map-marker" %>
        <h3 class="box-title"><%= t("projects.show.locations") %></h3>
      </div>
      <div class="box-body">
        <table class="table table-hover table-listing">
          <thead>
            <tr>
              <th><%= Location.human_attribute_name(:location_type_id) %></th>
              <th><%= Location.human_attribute_name(:name) %></th>
              <th><%= Location.human_attribute_name(:address_line1) %></th>
              <th><%= Location.human_attribute_name(:address_line2) %></th>
              <th><%= Location.human_attribute_name(:city) %></th>
              <th><%= Location.human_attribute_name(:state) %></th>
              <th><%= Location.human_attribute_name(:zip) %></th>
              <th><%= Location.human_attribute_name(:country) %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "location_show",
              collection: @project.locations, as: 'location' %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "bullseye" %>
        <h3 class="box-title"><%= t("projects.show.targets") %></h3>
      </div>
      <div class="box-body">
        <table class="table table-hover table-listing">
          <thead>
            <tr>
              <th><%= ProjectTarget.human_attribute_name(:project_target_type_id) %></th>
              <th><%= ProjectTarget.human_attribute_name(:target_value) %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "project_target_show",
              collection: @project.project_targets, as: 'project_target' %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
