<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="h4">Project Details</h2>
  </div>
  <table class="table table-hover table-listing">
    <tbody>
      <tr><td>ID</td><td><%= @project.id %></td></tr>
      <tr><td>Name</td><td><%= @project.name %></td></tr>
      <tr><td>Title</td><td><%= @project.title %></td></tr>
      <tr><td>Cooperative Agreement Number</td><td><%= @project.cooperative_agreement_number %></td></tr>
      <tr><td>Start Date</td><td><%= @project.start_date %></td></tr>
      <tr><td>End Date</td><td><%= @project.end_date %></td></tr>
      <tr><td>Organization</td><td><%= @project.organization %></td></tr>
      <tr><td>Office Location</td><td><%= @project.office_address %></td></tr>
    </tbody>
  </table>
</div>
