<div class="page-header">
  <h1><%= t("projects.status_config.title") %></h1>
  <p>Use this page to customize the parameters of the work and education automatic calculation</p>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "truck" %>
    <h3 class="box-title">
      <%= t("projects.status_config.work_activities_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="work-activities-data-table" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= WorkActivity.human_attribute_name(:code) %></th>
            <th><%= WorkActivity.human_attribute_name(:display_name) %></th>
            <th><%= t "general.delete" %></th>
          </tr>
        </thead>

        <tbody id="work_activities_details">
          <%= render partial: "work_activity",
          collection: WorkActivity.all.order(:id) %>
        </tbody>
      </table>
    </div>

  </div>
  <!-- box-body -->
  <div class="box-footer clearfix">
    <%= link_to t("work_activities.new.add"),
          new_work_activity_path(@work_activity), remote: true,
          class: "btn btn-primary" %>
  </div>
  <!-- box-footer -->
</div>
<!-- box -->

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "briefcase" %>
    <h3 class="box-title">
      <%= t("projects.status_config.occupations_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="occupations-data-table" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= Occupation.human_attribute_name(:code) %></th>
            <th><%= Occupation.human_attribute_name(:display_name) %></th>
            <th><%= t "general.delete" %></th>
          </tr>
        </thead>

        <tbody id="occupations_details">
          <%= render partial: "occupation",
          collection: Occupation.all.order(:id) %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- box-body -->
  <div class="box-footer clearfix">
    <%= link_to t("occupations.new.add"), new_occupation_path(@occupation),
          remote: true, class: "btn btn-primary" %>
  </div>
  <!-- box-footer -->
</div>
<!-- box -->

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "industry" %>
    <h3 class="box-title">
      <%= t("projects.status_config.industries_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="industries-data-table" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= Industry.human_attribute_name(:code) %></th>
            <th><%= Industry.human_attribute_name(:display_name) %></th>
            <th><%= t "general.delete" %></th>
          </tr>
        </thead>

        <tbody id="industries_details">
          <%= render partial: "industry",
          collection: Industry.all.order(:id) %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- box-body -->
  <div class="box-footer clearfix">
    <%= link_to t("industries.new.add"), new_industry_path(@industry),
          remote: true, class: "btn btn-primary" %>
  </div>
  <!-- box-footer -->
</div>
<!-- box -->

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "exclamation-triangle" %>
    <h3 class="box-title">
      <%= t("projects.status_config.hazardous_conditions_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="hazardous_conditions-data-table" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= HazardousCondition.human_attribute_name(:code) %></th>
            <th><%= HazardousCondition.human_attribute_name(:display_name) %></th>
            <th><%= t "general.delete" %></th>
          </tr>
        </thead>

        <tbody id="hazardous_conditions_details">
          <%= render partial: "hazardous_condition",
          collection: HazardousCondition.all.order(:id) %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- box-body -->
  <div class="box-footer clearfix">
    <%= link_to t("hazardous_conditions.new.add"), new_hazardous_condition_path(@hazardous_condition),
          remote: true, class: "btn btn-primary" %>
  </div>
  <!-- box-footer -->
</div>
<!-- box -->

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "exclamation-triangle" %>
    <h3 class="box-title">
      <%= t("projects.status_config.abuses_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="abuses-data-table" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= Abuse.human_attribute_name(:code) %></th>
            <th><%= Abuse.human_attribute_name(:display_name) %></th>
            <th><%= t "general.delete" %></th>
          </tr>
        </thead>

        <tbody id="abuses_details">
          <%= render partial: "abuse",
          collection: Abuse.all.order(:id) %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- box-body -->
  <div class="box-footer clearfix">
    <%= link_to t("abuses.new.add"), new_abus_path(@abuse),
          remote: true, class: "btn btn-primary" %>
  </div>
  <!-- box-footer -->
</div>
<!-- box -->

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "tasks" %>
    <h3 class="box-title">
      <%= t("projects.status_config.household_tasks_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="household_tasks-data-table" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= HouseholdTask.human_attribute_name(:code) %></th>
            <th><%= HouseholdTask.human_attribute_name(:display_name) %></th>
            <th><%= t "general.delete" %></th>
          </tr>
        </thead>
        <tbody id="household_tasks_details">
          <%= render partial: "household_task",
          collection: HouseholdTask.all.order(:id) %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- box-body -->
  <div class="box-footer clearfix">
    <%= link_to t("household_tasks.new.add"), new_household_task_path(@household_task),
          remote: true, class: "btn btn-primary" %>
  </div>
  <!-- box-footer -->
</div>
<!-- box -->

<div class="modal modal-info fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
