<div class="page-header">
  <%= link_to child_path(@child), class: 'btn btn-default' do %>
  <%= fa_icon "caret-left" %>
  <%= t("general.back") %>
  <% end %>
  <h1>Timeline for
    <%= @child.first_name %>
    <%= @child.last_name %>
    (#<%= @child.id %>)
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="timeline">

      <% current_date = Date.new(1900, 1, 1) %>
      <% @events.each do |event| %>
        <% if current_date != event.event_date %>
          <% current_date = event.event_date %>
          <li class="time-label">
            <span class="bg-light-blue">
              <%= event.event_date.strftime("%d %b. %Y") %>
            </span>
          </li>
        <% end %>

        <li>
          <i class="fa <%= determine_event_icon(event.type) %> <%= determine_event_background_color(event.type) %>"></i>
          <div class="timeline-item">
            <h3 class="timeline-header"><%= event.description %></h3>
            <div class="timeline-body">
              <%= event.notes %>
            </div>
          </div>
        </li>
      <% end %>

      <li>
        <i class="fa fa-clock-o bg-gray"></i>
      </li>
    </ul>
  </div>

</div>
