<%= form_for(@indicator, html: { role: "form" }) do |f| %>
  <%= error_messages(@indicator) %>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :indicator %>
    <%= f.text_area :indicator, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :use %>
    <%= f.cktext_area :use, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :definitions %>
    <%= f.cktext_area :definitions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :frequency %>
    <%= f.cktext_area :frequency, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :unit_of_measure %>
        <%= f.collection_select :unit_of_measure_id, UnitOfMeasure.all, :id, :name, {prompt: "-- Select Unit of Measure --"}, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :baseline %>
        <%= f.text_field :baseline, class: "form-control" %>
      </div>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-2">
      <%= link_to indicators_path, class: "btn btn-danger btn-block" do %>
        <%= fa_icon :times %>
        <%= t("general.cancel") %>
      <% end %>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block">
        <%= t("general.submit") %>
      </button>
    </div>
  </div>
<% end %>
