<tr>
  <td><%= detail.reporting_period.name %></td>
  <td><%= detail.target %></td>
  <td><%= detail.actual %></td>
  <td><%= detail.delta %></td>
  <td>
    <% if detail.id.nil? %>
      <%= link_to t("general.update"),
        new_indicator_indicator_detail_path(@indicator,
          reporting_period_id: detail.reporting_period_id), remote: true %>
    <% else %>
      <%= link_to t("general.update"),
        edit_indicator_indicator_detail_path(@indicator, detail),
          remote: true %>
    <% end %>
  </td>
</tr>
