<%= form_for([@project, @indicator], html: { role: "form" }) do |f| %>
  <%= error_messages(@indicator) %>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :indicator %>
    <%= f.text_area :indicator, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :indicator_type %>
    <%= f.text_field :indicator_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :use %>
    <%= f.text_area :use, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :definitions %>
    <%= f.text_area :definitions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :frequency %>
    <%= f.text_area :frequency, class: "form-control" %>
  </div>

  <hr>

  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
      <button type="submit" class="btn btn-primary btn-block"><%= t("general.submit") %></button>
    </div>
  </div>
<% end %>
