<div class="page-header">
  <%= link_to new_indicator_path, class: 'btn btn-primary pull-right' do %>
    <%= fa_icon "plus" %>
    <%= t("indicators.index.add") %>
  <% end %>
  <h1><%= t("indicators.index.title") %></h1>
</div>

<div class="box">
  <div class="box-body">
    <table id='indicatorTable' class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= Indicator.human_attribute_name(:code) %></th>
          <th><%= Indicator.human_attribute_name(:indicator) %></th>
          <th><%= Indicator.human_attribute_name(:indicator_type) %></th>
        </tr>
      </thead>

    <tbody>
      <%= content_tag_for(:tr, @indicators) do |indicator| %>
        <td><%= indicator.code || indicator.id %></td>
				<td><%= link_to indicator.indicator, indicator_path(indicator) %></td>
        <td><%= indicator.indicator_type %></td>
    	<% end %>
  	</tbody>
	</table>
	</div>
</div>
