<div class="page-header">
  <%= link_to indicators_path, class: 'btn btn-default' do %>
    <%= fa_icon "caret-left" %>
    <%= t("general.back") %>
  <% end %>
  <% if @indicator.indicator_type == "Custom" %>
    <%= link_to edit_indicator_path(@indicator), class: 'btn btn-primary' do %>
      <%= fa_icon "pencil" %>
      <%= t("general.edit") %>
    <% end %>
  <% end %>
  <h1><%= t("indicators.show.title") %></h1>
</div>

<div class="box box-primary">
  <div class="box-body">

    <div class="row">
      <div class="col-md-12">
        <h2><%= @indicator.code || @indicator.id %> <%= @indicator.indicator %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <strong><%= Indicator.human_attribute_name(:indicator_type) %></strong> <%= @indicator.indicator_type %>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title"><strong><%= Indicator.human_attribute_name(:use) %></strong></h3>
          </div>
          <div class="box-body">
            <%= raw(@indicator.use) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title"><strong><%= Indicator.human_attribute_name(:definitions) %></strong></h3>
          </div>
          <div class="box-body">
            <%= raw(@indicator.definitions) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title"><strong><%= Indicator.human_attribute_name(:frequency) %></strong></h3>
          </div>
          <div class="box-body">
            <%= raw(@indicator.frequency) %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="box-footer">
    <% if @indicator.targets.count > 0 %>
      <%= link_to edit_multiple_indicator_targets_path(@indicator),
        class: "btn btn-primary pull-right",
        style: "margin-right: 1rem" do %>
        <i class="fa fa-dot-circle-o"> </i> Update Targets
      <% end %>
    <% else %>
      <%= link_to new_indicator_target_path(@indicator),
        class: "btn btn-primary pull-right",
        style: "margin-right: 1rem" do %>
        <i class="fa fa-dot-circle-o"> </i> Enter Targets
      <% end %>
    <% end %>
  </div>
</div>
