<% title "#{@indicator.code}: #{@indicator.indicator}" %>

<div class="page-header">
  <%= link_to indicators_path, class: "btn btn-default" do %>
    <%= fa_icon "caret-left", text: t("general.back") %>
  <% end %>
  <%= link_to edit_indicator_path(@indicator), class: "btn btn-primary" do %>
    <%= fa_icon "pencil", text: t("general.edit") %>
  <% end %>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= t("indicators.show.summary_data_title") %>
    </h3>
  </div>
  <div class="box-body">
    <table class="table table-hover table-condensed table-listing">
      <tbody>
        <tr>
          <th><%= Indicator.human_attribute_name(:indicator_type) %></th>
          <td><%= @indicator.indicator_type %></td>
        </tr>
        <tr>
          <th><%= Indicator.human_attribute_name(:unit_of_measure) %></th>
          <td><%= @indicator.unit_of_measure.name %></td>
        </tr>
        <tr>
          <th>
            <%= Indicator.human_attribute_name(:reporting_frequency) %>
          </th>
          <td><%= @indicator.reporting_frequency.name %></td>
        </tr>
        <tr>
          <th><%= Indicator.human_attribute_name(:baseline) %></th>
          <td><%= @indicator.baseline %></td>
        </tr>
        <tr>
          <th><%= Indicator.human_attribute_name(:use) %></th>
          <td><%= @indicator.use %></td>
        </tr>
        <tr>
          <th><%= Indicator.human_attribute_name(:definitions) %></th>
          <td><%= @indicator.definitions %></td>
        </tr>
        <tr>
          <th>
            <%= Indicator.human_attribute_name(:frequency_definitions) %>
          </th>
          <td><%= @indicator.frequency_definitions %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= t("indicators.show.reporting_periods_title") %>
    </h3>
  </div>

  <div class="box-body">
    <table class="table table-condensed table-hover" style="table-layout:fixed">
      <thead>
        <tr>
          <th><%= ReportingPeriod.model_name.human %></th>
          <th><%= IndicatorDetail.human_attribute_name(:target) %></th>
          <th><%= IndicatorDetail.human_attribute_name(:actual) %></th>
          <th><%= IndicatorDetail.human_attribute_name(:delta) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="indicator_details">
        <%= render partial: "detail",
          collection: @indicator.indicator_detail_rows,
          locals: {indicator: @indicator} %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal modal-info fade" id="detailModal" tabindex="-1" role="dialog"
  aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
