<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      Common Indicators Standard Reports
    </h3>
  </div>
  <div class="box-body">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th><%= Report.human_attribute_name(:title) %></th>
          <th><%= Report.human_attribute_name(:desc) %></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @reports) do |report| %>
        <td><%= link_to report.title, report_path(report)%></td>
        <td><%= report.desc %></td>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
