<% content_for :title, "Technical Progress Reports" %>

<div class="page-header">
  <%= link_to new_report_path, class: "btn btn-primary" do %>
    <%= fa_icon "plus" %>
    Start New TPR
  <% end %>
</div>

<% unless @reports.length == 0 %>
  <div class="box">
    <table id='technicalProgressReportsTable' class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= ReportingPeriod.model_name.human %></th>
          <th><%= ReportStatus.model_name.human %></th>
          <th><%= Report.human_attribute_name(:date_submitted) %></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @reports) do |r| %>
          <td><%= link_to r.reporting_period.name, report_path(r) %></td>
          <td><%= r.report_status.name %></td>
          <td><%= r.submitted_on %></td>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
