<% content_for :title, "Technical Progress Report" %>

<div class="page-header">
  <div class="btn-group" role="group">
    <%= link_to reports_path, class: "btn btn-primary" do %>
      <%= fa_icon "arrow-left" %>
      Back to Index
    <% end %>
    <%= link_to(
      report_path(@report, format: :pdf),
      class: "btn btn-primary") do %>
      <%= fa_icon "file-pdf-o" %>
      Generate PDF for Signature
    <% end %>
    <%= content_tag(:button, class: "btn btn-primary",
                    disabled: !@report.is_ready_to_submit,
                    data: {toggle: "modal", target: "#submitTpr"}) do %>
      Submit
      <%= fa_icon "arrow-right" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Report Date:</strong>
      <%= @report.reporting_period.end_date
        .strftime("%B %Y") %>
    </p>
  </div>
  <div class="col-md-6">
    <p class="text-right">
      <strong>Status:</strong>
      <%= @report.report_status.name %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="form-label">
      1. Federal Agency and Organization Element to Which Report is Submitted
    </h3>
    <p class="form-body">USDOL/ILAB/OCFT</p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">2. Federal Grant Number</h3>
    <p class="form-body"><%= @project.cooperative_agreement_number %></p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">3. DUNS Number</h3>
    <p class="form-body"><%= @project.duns_number || "---" %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="form-label">4. Country and Project Name</h3>
    <p class="form-body"><%= @project.title %></p>
  </div>
</div>

<h3 class="form-label">5. Recipient Organization Contact Information</h3>
<div class="row">
  <div class="col-xs-6 col-unpadded">
    <h4 class="form-label">Headquarters</h4>
    <address class="form-body">
      <strong><%= @project.organization %></strong><br>
      <% unless @project.headquarters_location.nil? %>
        <%= format_location @project.headquarters_location %>
      <% end %>
    </address>
  </div>
  <div class="col-xs-6 col-unpadded">
    <h4 class="form-label">Field</h4>
    <address class="form-body">
      <% unless @project.field_location.nil? %>
        <%= format_location @project.field_location %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="form-label">6. Project/ Grant Period</h3>
    <p class="form-body">
      <small>Start Date: (Month, Day, Year)</small>
      <br>
      <%= @project.start_date.strftime("%m/%d/%Y") %>
      <br>
      <small>End Date: (Month, Day, Year)</small>
      <br>
      <%= @project.end_date.strftime("%m/%d/%Y") %>
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">7. Reporting Period End Date</h3>
    <p class="form-body">
      <small>(Month, Day, Year)</small>
      <br>
      <%= @report.reporting_period.end_date
        .strftime("%m/%d/%Y") %>
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="form-label">
      <%= Report.human_attribute_name :is_final_report %>
    </h3>
    <p class="form-body">
      <span class="radio">
        <label>
          <%= radio_button_tag "is_final_report", 1,
            @report.is_final_report,
            {class: "icheck", disabled: true} %> Yes
        </label>
      </span>
      <span class="radio">
        <label>
          <%= radio_button_tag "is_final_report", 0,
            !@report.is_final_report,
            {class: "icheck", disabled: true} %> No
        </label>
      </span>
    </p>
    <h3 class="form-label">
      <%= Report.human_attribute_name :is_semi_annual %>
    </h3>
    <p class="form-body">
      <span class="radio">
        <label>
          <%= radio_button_tag "is_semi_annual", 1,
            @report.is_semi_annual,
            {class: "icheck", disabled: true} %> Semi-annual
        </label>
      </span>
      <span class="radio">
        <label>
          <%= radio_button_tag "is_semi_annual", 0,
            !@report.is_semi_annual,
            {class: "icheck", disabled: true} %> Other
        </label>
      </span>
    </p>
  </div>
</div>

<h3 class="form-label">10. Attachments</h3>
<p class="form-body">
  <%= render partial: 'report_attachment', locals: {id: '0',
    should_include: true,
    annexes: @report.report_attachments}
  %>
  <%= render partial: 'report_attachment', locals: {id: '1',
    should_include: true,
    annexes: @report.report_attachments}
  %>
  <% ('a'..'h').each do |id| %>
    <% should_include = @report.annexes_required.include? id %>
    <%= render partial: 'report_attachment', locals: {id: id,
      should_include: should_include,
      annexes: @report.report_attachments}
    %>
  <% end %>
</p>

<h3 class="form-label">Comments</h3>
<section class="form-body comments">
  <% @report.comments.each do |c| %>
    <article class="comment">
      <h4 class="byline">
        <%= c.author %>
        <small><%= c.created_at.strftime '%Y-%m-%d' %></small>
      </h4>
      <p><%= c.body %></p>
    </article>
  <% end %>
</section>

<div class="modal fade" id="uploadDoc">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Add Document</h4>
      </div>
      <%= form_for [@report, @report_attachment], html: {multipart: true} do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :attachment_annex %>
          <div class="form-group">
            <%= f.label :attachment %>
            <%= f.file_field :attachment %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Upload", class: "btn btn-success" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="submitTpr">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Submit TPR</h4>
      </div>
      <%= form_for @report, url: {action: :submit},
        html: {class: 'form-horizontal'} do |f| %>
        <div class="modal-body">
          <%= f.fields_for :comments, [Comment.new] do |b| %>
            <%= b.label "Add any comments for submission" %>
            <%= b.text_area :body, class: "form-control", rows: 10 %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Submit", class: "btn btn-success" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
