<!-- Main Header -->
<header class="main-header">

<% if controller_name != 'home' -%>
  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><%= image_tag "logo.png" %></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><%= image_tag "logo.png" %></span>
  <% end %>
<% end -%>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <% if controller_name == 'home' -%>
      <!-- Logo -->
      <%= link_to dashboard_path, class: "logo", style: "background: none" do %>
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><%= image_tag "logo.png" %></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><%= image_tag "logo.png" %></span>
      <% end %>
    <% end -%>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <%= image_tag "user2-160x160.jpg", class: "user-image", alt: "User Avatar" %>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_user.email %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <%= image_tag "user2-160x160.jpg", class: "img-circle", alt: "User Avatar" %>
              <p><%= current_user.email %></p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat" do %>
                  <%= t "navbar.sign_out" %>
                <% end %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
