<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <ul class="sidebar-menu">
      <%= content_tag :li, class: (controller_name == 'projects' ? "active" : "")  do -%>
        <%= link_to project_path do %>
          <i class="fa fa-tachometer"></i>
          <%= t("projects.show.dashboard") %>
        <% end %>
      <% end -%>

      <%= content_tag :li, class: (controller_name == 'children' ? "active" : "")  do -%>
        <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
          <i class="fa fa-child"></i><%= Child.model_name.human.pluralize %>
        <% end -%>
        <ul style="list-style:none">
          <li>
            <%= link_to children_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("children.index.title") %>
            <% end -%>
          </li>
          <li>
            <%= link_to new_child_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("children.index.add") %>
            <% end -%>
          </li>
          <li>
            <%= link_to new_custom_field_path(model_type: "Child") do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("custom_fields.index") %>
            <% end -%>
          </li>
        </ul>
      <% end -%>

      <%= content_tag :li, class: (controller_name == 'households' ? "active" : "")  do -%>
        <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
          <i class="fa fa-home"></i><%= Household.model_name.human.pluralize %>
        <% end -%>
        <ul style="list-style:none">
          <li>
            <%= link_to households_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("households.index.title") %>
            <% end -%>
          </li>
          <li>
            <%= link_to new_household_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("households.index.add") %>
            <% end -%>
          </li>
          <li>
            <%= link_to new_custom_field_path(model_type: "Household") do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("custom_fields.index") %>
            <% end -%>
          </li>
        </ul>
      <% end -%>

      <%= content_tag :li, class: (controller_name == "services" ? "active" : "")  do -%>
        <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
          <i class="fa fa-cutlery"></i><%= Service.model_name.human.pluralize %>
        <% end -%>
        <ul style="list-style:none">
          <li>
            <%= link_to services_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("services.index.title") %>
            <% end -%>
          </li>
          <li>
            <%= link_to new_service_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("services.index.add") %>
            <% end -%>
          </li>
        </ul>
      <% end -%>

      <%= content_tag :li, class: (controller_name == 'indicators' ? "active" : "")  do -%>
        <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
          <i class="fa fa-flag-o"></i><%= Indicator.model_name.human.pluralize %>
        <% end -%>
        <ul style="list-style:none">
          <li>
            <%= link_to indicators_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("indicators.index.title") %>
            <% end -%>
          </li>
          <li>
            <%= link_to new_indicator_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("indicators.index.add") %>
            <% end -%>
          </li>
        </ul>
      <% end -%>

      <%= content_tag :li, class: (controller_name == 'reports' ? "active" : "")  do -%>
        <%= link_to reports_path do -%>
          <i class="fa fa-file-text-o"></i>Analysis
        <% end -%>
      <% end -%>

      <%= content_tag :li  do -%>
        <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
          <i class="fa fa-lock"></i>Admin
        <% end -%>
        <ul style="list-style:none">
          <li>
            <%= link_to service_types_path do -%>
              <i class="fa fa-angle-double-right"></i>
              <%= t("service_types.index.title") %>
            <% end -%>
          </li>
        </ul>
      <% end -%>

    </ul>
  </section>
</aside>
