<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <span><%= yield :title %></span>
      <% if content_for? :description %>
        <small><%= yield :description %></small>
      <% end %>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b><%= notice %></b>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-ban"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b><%= alert %></b>
      </div>
    <% end %>
    <%= yield %>
  </section><!-- /.content -->
</div>
