<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">DPMS</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">DPMS</span>
  <% end %>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button -->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <li class="dropdown tasks-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_user.email %></span>
          </a>
          <ul class="dropdown-menu">
            <li>
	      <ul class="menu">
  	        <li>
                  <%= link_to "Profile", edit_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <%= t "navbar.sign_out" %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
