<nav class="navbar navbar-blue navbar-fixed-top navbar-size-large navbar-size-xlarge" role="navigation">
  <div class="nav-wrapper">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to dashboard_path, class: "navbar-brand" do %>
        <%= image_tag("logo.png") %>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <p class="navbar-text"><%= link_to "Home", dashboard_path %>&nbsp;|&nbsp;<%= "#{Project.model_name.human}: #{@project.name}" %></p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= "#{current_user.email}" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Account Settings</a></li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <% t("navbar.sign_out") %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
