<div class="text-center">
  <button type="button" class="navbar-toggle float-none large-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="side-bar-wrapper navbar-collapse navbar-ex1-collapse collapse" style="height: 0px;" id="dbms-side-menu">
  <ul class="side-menu side-menu-blue">
    <%= content_tag :li, class: (controller_name == 'projects' ? "current" : "")  do -%>
      <%= link_to project_path(@project) do %>
        <i class="fa fa-tachometer"></i>
        <%= t("projects.show.dashboard") %>
      <% end %>
    <% end -%>

    <%= content_tag :li, class: (controller_name == 'children' ? "current" : "")  do -%>
      <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
        <span class="badge pull-right"><b class="caret"></b></span>
        <i class="fa fa-child"></i><%= Child.model_name.human.pluralize %>
      <% end -%>
      <ul>
        <li>
          <%= link_to project_children_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("children.index.title") %>
          <% end -%>
        </li>
        <li>
          <%= link_to new_project_child_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("children.index.add") %>
          <% end -%>
        </li>
        <li>
          <%= link_to new_fields_project_children_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("children.index.custom_fields") %>
          <% end -%>
        </li>
      </ul>
    <% end -%>

    <%= content_tag :li, class: (controller_name == 'households' ? "current" : "")  do -%>
      <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
        <span class="badge pull-right"><b class="caret"></b></span>
        <i class="fa fa-home"></i><%= Household.model_name.human.pluralize %>
      <% end -%>
      <ul>
        <li>
          <%= link_to project_households_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("households.index.title") %>
          <% end -%>
        </li>
        <li>
          <%= link_to new_project_household_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("households.index.add") %>
          <% end -%>
        </li>
      </ul>
    <% end -%>

    <%= content_tag :li, class: (controller_name == 'indicators' ? "current" : "")  do -%>
      <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
        <span class="badge pull-right"><b class="caret"></b></span>
        <i class="fa fa-flag-o"></i><%= Indicator.model_name.human.pluralize %>
      <% end -%>
      <ul>
        <li>
          <%= link_to project_indicators_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("indicators.index.title") %>
          <% end -%>
        </li>
        <li>
          <%= link_to new_project_indicator_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("indicators.index.add") %>
          <% end -%>
        </li>
      </ul>
    <% end -%>

    <%= content_tag :li, class: (controller_name == 'reports' ? "current" : "")  do -%>
      <%= link_to "javascript:void(0);", class: 'is-dropdown-menu' do -%>
        <span class="badge pull-right"><b class="caret"></b></span>
        <i class="fa fa-file-text-o"></i><%= Report.model_name.human.pluralize %>
      <% end -%>
      <ul>
        <li>
          <%= link_to project_reports_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("reports.index.title") %>
          <% end -%>
        </li>
        <li>
          <%= link_to new_project_report_path(@project) do -%>
            <i class="fa fa-angle-double-right"></i>
            <%= t("reports.index.add") %>
          <% end -%>
        </li>
      </ul>
    <% end -%>
  </ul>
</div>