<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head' %>

  <body class="<%= "skin-blue sidebar-mini #{params[:controller].parameterize} #{action_name}" %>">
    <div class="wrapper">
      <%= render partial: 'layouts/header' %>
      <%= render partial: 'layouts/sidebar' %>
      <%= render partial: 'layouts/content' %>
      <%= render partial: 'layouts/footer' %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render partial: 'toastr_rails/flash' %>
  </body>
</html>
