<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <title>DBMS</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<body class="skin-blue sidebar-mini fixed <%= params[:controller].parameterize %> <%= action_name %>">
  <div class="wrapper">
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/sidebar' %>
    <%= render partial: 'layouts/content' %>
    <%= render partial: 'layouts/footer' %>
  </div><!-- ./wrapper -->

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbWtzoAGXUu6aLajh82g1E-Vx1WllcFQk&amp;sensor=false&amp;libraries=places">
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
