<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head' %>

  <body class="layout-top-nav skin-blue" id="<%= "home" unless current_user -%>">
    <div class="wrapper">
      <div class="content-wrapper" style="min-height: 900px">
        <div class="container">
          <section class="content">
            <%= yield %>
          </section>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :scripts %>
    <%= render partial: 'toastr_rails/flash' %>
  </body>
</html>
