<fieldset class="associated-fields">
  <div class="form-group">
    <%= f.label :fname %>
    <%= f.text_field :fname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lname %>
    <%= f.text_field :lname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mname %>
    <%= f.text_field :mname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sex %>
    <div class="checkbox">
      <% Child::SEX_OPTIONS.each do |sex_option| %>
        <label class="radio-inline">
          <%= f.radio_button :sex, sex_option[1], class: "square-red" %> <%= t(sex_option[0]) %>
        </label>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dob %> (yyy/mm/dd)
    <div class="input-group date">
      <%= f.text_field :dob, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :intake_date %> (yyy/mm/dd)
    <div class="input-group date">
      <%= f.text_field :intake_date, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </span>
    </div>
  </div>

  <%= f.hidden_field :_destroy %>
  <%= link_to '#', class: "remove_fields pull-right" do %>
    <i class="fa fa-trash-o"></i><%= t("general.delete") %>
  <% end %>
</fieldset>
