<%= form_for([@household], html: { role: "form" }) do |f| %>
<%= error_messages(@household) %>

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "info" %>
    <h3 class="box-title">
      <%= t("households.new.details_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :code %>
      <%= f.text_field :code, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :intake_date %>
      <div>
        <%= f.date_select :intake_date, { order: [:month, :day, :year]}, {
class: "form-control", style: "display: inline-block; width: 33.2%;" } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :country %>
      <%= f.country_select :country, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <%= render partial: 'custom_fields/custom_field', collection: @custom_fields %>
  </div>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "user" %>
    <h3 class="box-title">
      <%= Adult.model_name.human.pluralize %>
  </div>
  <div class="box-body">
    <%= f.fields_for :adults do |builder| %>
    <%= render 'adult_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields t("adults.index.add"), f, :adults, class: "add_fields btn btn-primary" %>
  </div>
</div>

<div class="box box-primary">
  <div class="box-header with border">
    <%= fa_icon "child" %>
    <h3 class="box-title"><%= Child.model_name.human.pluralize %></h3>
  </div>
  <div class="box-body">
    <%= f.fields_for :children do |builder| %>
    <%= render 'child_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields t("children.index.add"), f, :children, class: "add_fields btn btn-primary" %>
  </div>
</div>

<hr>

<div class="form-group">
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to households_path(), :class => 'btn btn-danger btn-block' do %>
    <i class="fa fa-times"></i>
    <%= t("general.cancel") %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <button type="submit" class="btn btn-primary btn-block"><%= t("general.submit") %></button>
  </div>
</div>
<% end %>
