<%= form_for([@household], html: { role: "form" }) do |f| %>
<%= error_messages(@household) %>

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "info" %>
    <h3 class="box-title">
      <%= t("households.new.details_title") %>
    </h3>
  </div>
  <div class="box-body">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :intake_date %>
      <div class="row date-select">
        <%= f.date_select :intake_date, {order: [:month, :day, :year]},
          {class: "form-control"} %>
      </div>
    </div>

    <%= render partial: 'custom_fields/custom_field',
      collection: @section_1_custom_fields, locals: {model_id: @household.id} %>

  </div>
</div>

<%= render partial: 'custom_sections/custom_section',
  collection: @sections, locals: {model_id: @household.id} %>

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "money" %>
    <h3 class="box-title">
      <%= IncomeSource.model_name.human.pluralize %>
    </h3>
  </div>
  <div class="box-body">
    <table class="table condensed">
      <thead>
      <tr>
        <th>
          <%= IncomeSource.human_attribute_name :name %>
        </th>
        <th>
          <%= IncomeSource.human_attribute_name :estimated_volume_produced %>
        </th>
        <th>
          <%= IncomeSource.human_attribute_name :estimated_volume_sold %>
        </th>
        <th>
          <%= IncomeSource.human_attribute_name :unit_of_measure %>
        </th>
        <th>
          <%= IncomeSource.human_attribute_name :estimated_income %>
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
        <%= f.fields_for :income_sources do |builder| %>
          <%= render 'income_source_fields', f: builder %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <%= link_to_add_fields t("income_source.index.add"), f, :income_sources,
              class: "add_fields btn btn-primary" %>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <%= fa_icon "user" %>
    <h3 class="box-title">
      <%= Person.model_name.human.pluralize %>
    </h3>
  </div>
  <div class="box-body">
    <%= f.fields_for :people do |builder| %>
      <%= render 'person_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields t("people.index.add"), f, :people,
      class: "add_fields btn btn-primary" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to household_or_households_path(@household),
      :class => 'btn btn-danger btn-block' do %>
      <i class="fa fa-times"></i>
      <%= t("general.cancel") %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <button type="submit" class="btn btn-primary btn-block">
      <%= t("general.submit") %>
    </button>
  </div>
</div>
<% end %>
