<tr class="associated-fields">
  <td>
    <%= f.text_field :name, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :estimated_volume_produced, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :estimated_volume_sold, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :unit_of_measure, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :estimated_income, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :currency, class: "form-control" %>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to '#', class: "remove_fields btn" do %>
      <i class="fa fa-trash-o"></i> <%= t("general.delete") %>
    <% end %>
  </td>
</tr>
