<fieldset class="associated-fields">
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sex %>
    <div class="checkbox">
      <% Adult::SEX_OPTIONS.each do |sex_option| %>
        <label class="radio-inline">
          <%= f.radio_button :sex, sex_option[1], class: "square-red" %>
          <%= t(sex_option[0]) %>
        </label>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dob %>
    <div class="row date-select">
      <%= f.date_select :dob, {order: [:month, :day, :year],
        start_year: 1920, prompt: true}, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :age %>
    <%= f.text_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :intake_date %>
    <div class="row date-select">
      <%= f.date_select :intake_date, {order: [:month, :day, :year]},
        {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_head_of_household do %>
      <%= f.check_box :is_head_of_household, class: "square-red" %>
      <%= Adult.human_attribute_name :is_head_of_household %>
    <% end %>
  </div>

  <%= render partial: 'custom_fields/custom_field',
    collection: @person_custom_fields %>

  <%= f.hidden_field :_destroy %>
  <%= link_to '#', class: "remove_fields pull-right" do %>
    <i class="fa fa-trash-o"></i><%= t("general.delete") %>
  <% end %>
</fieldset>
