<div class="page-header">
 <%= link_to project_households_path(@project), class: 'btn btn-default' do %>
    <%= fa_icon "caret-left" %>
    <%= t("general.back") %>
  <% end %>
  <%= link_to project_household_path(@project, @household), class: 'btn btn-primary' do %>
    <%= fa_icon "info-circle" %> <%= t("general.show") %>
  <% end %>
  <h1><%= t("households.edit.title") %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
