<% title t('households.edit.title') %>

<div class="page-header">
 <%= link_to households_path(), class: 'btn btn-default' do %>
    <%= fa_icon 'caret-left', text: t("general.back") %>
  <% end %>
  <%= link_to household_path(@household), class: 'btn btn-primary' do %>
    <%= fa_icon "info-circle", text: t("general.show") %>
  <% end %>
</div>

<%= render 'form' %>
