<div class="box box-primary">
  <div class="box-header">
    <%= fa_icon "home" %>
    <h3 class="box-title"><%= t("households.index.title") %></h3>
    <div class="box-tools">
      <%= link_to new_household_path, class: "btn btn-primary" do %>
        <%= fa_icon "plus" %>
        <%= t("households.index.add") %>
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <table id="households-data-table"
      class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th><%= Household.human_attribute_name(:id) %></th>
          <th><%= Household.human_attribute_name(:name) %></th>
          <th><%= Household.human_attribute_name(:children) %></th>
          <th><%= Household.human_attribute_name(:adults) %></th>
          <th><%= Household.human_attribute_name(:intake_date) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: "household", collection: @households) %>
      </tbody>
    </table>
  </div>
</div>
