<div class="page-header">
  <%= link_to new_household_path(), class: 'btn btn-primary pull-right' do %>
    <%= fa_icon "plus" %>
    <%= t("households.index.add") %>
  <% end %>
  <h1><%= t("households.index.title") %></h1>
</div>

<div class="box">
  <div class="box-body">
    <table id="households-data-table" class="table table-condensed table-striped">
      <thead>
        <tr>
					<th><%= Household.human_attribute_name(:id) %></th>
          <th><%= Household.human_attribute_name(:name) %></th>
          <th><%= Household.human_attribute_name(:intake_date) %></th>
          <th><%= Household.human_attribute_name(:code) %></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @households) do |household| %>
				  <td><%= link_to household.id, household_path(household) %></td>
          <td><%= household.name %></td>
          <td><%= household.intake_date %></td>
          <td><%= household.code %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
