<div class="row">
  <div class="col-xs-12">

    <div class="page-header">
      <%= link_to households_path, class: 'btn btn-default' do %>
        <%= fa_icon "caret-left" %>
        <%= t("general.back") %>
      <% end %>
      <%= link_to edit_household_path(@household), class: 'btn btn-primary' do %>
        <%= fa_icon "pencil" %>
        <%= t("general.edit") %>
      <% end %>
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "info" %>
        <h3 class="box-title"><%= t("households.show.title") %></h3>
      </div>
      <div class="box-body no-padding">
        <dl>
          <dt><%= Household.human_attribute_name(:id) %></dt>
          <dd><%= @household.id %></dd>
          <dt><%= Household.human_attribute_name(:name) %></dt>
          <dd><%= @household.name %></dd>
          <dt><%= Household.human_attribute_name(:intake_date) %></dt>
          <dd><%= @household.intake_date %></dd>
          <% @section_1_custom_fields.each do |custom_field| %>
            <dt><%= custom_field.name %></dt>
            <dd><%= custom_field_value(custom_field) %></dd>
          <% end %>
        </dl>
      </div>
    </div>

    <%= render partial: 'custom_sections/custom_section_show',
          collection: @sections %>

    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "money" %>
        <h3 class="box-title"><%= t("households.show.income_sources") %></h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Product or Service</th>
            <th>Estimated Volume Produced</th>
            <th>Estimated Volume Sold</th>
            <th>Estimated Income</th>
          </tr>
          <%= render partial: "income_source", collection: @household.income_sources %>
        </table>
      </div>
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "child" %>
        <h3 class="box-title"><%= t("households.show.children") %></h3>
      </div>
      <div class="box-body">
        <ul>
          <%= render partial: "child", collection: @children %>
        </ul>
      </div>
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <%= fa_icon "user" %>
        <h3 class="box-title"><%= t("households.show.adults") %></h3>
      </div>
      <div class="box-body">
        <ul>
          <%= render partial: "adult", collection: @adults %>
        </ul>
      </div>
    </div>

  </div>
</div>
